@import 'theme';
@import 'shared';


.App {
  @include absolute-lt;
  @include size(100%);
  font-family: $font;
  padding: 2.5vw 10vw;
  overflow: auto;
  color: $color;

  @media (orientation: portrait) {
    padding: 2.5vw;
  }

  &__UtilButtons {
    font-family: $fontMono;
  }

  &__UtilButton {
    cursor: pointer;
    color: $color3;

    &:hover {
      color: $color;
    }

    &_Selected {
      color: $color;
    }
  }

  &__Intro {
    display: flex;
    flex-direction: row;
  }

  &__Photo {
    flex: 0 0 auto;
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
    transform: scaleX(-1);

    @media (orientation: portrait) {
      width: 20vw;
      height: 20vw;
    }
  }

  &__TechName {
    font-family: $fontMono;
    text-transform: uppercase;
  }

  &__TechYear {
    font-family: $font;
    color: gray;
    font-size: .9em;
  }

  &__ProjectTitle {
    font-size: 1.2em;
    font-family: $fontMono;
    font-weight: bold;
  }

  &__ProjectSummary {
    font-size: .8em;

    > *:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__ProjectTechs {
    font-family: $fontMono;    
    text-transform: uppercase;
  }

  &__ProjectImage {
    border: 1px solid lightgray;
    height: 5vw;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1vw;
    }

    transition: filter .5s;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }

    @media (orientation: portrait) {
      height: 8vw;
    }
  }

  &__Separator {
    $sideMargin: 0vw;
    width: calc(100% - #{$sideMargin * 2});
    height: 2px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' y='0' x2='100%25' y2='0' stroke='lightgray' stroke-width='2' stroke-dasharray='20%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    margin: 1vw $sideMargin 3vw $sideMargin;
  }

  &__Footer {
    font-family: $fontMono;
    color: $color2;
    text-align: center;
  }

  $ContactCopyButtonClass: "#{&}__ContactCopyButton";

  &__Contact {
    margin-right: 1vw;
    white-space: nowrap;

    &:hover #{$ContactCopyButtonClass} {
      opacity: 1;
    }

    > a {
      color: $color !important;
      font-weight: 600;
      text-decoration-color: gray;
    }

    > * {
      vertical-align: middle;
    }
  }

  #{$ContactCopyButtonClass} {
    display: inline;
    opacity: 0;
    cursor: pointer;
    width: 14px;
    transition: opacity .5s;
  }

  &__Dates {
    font-family: $fontMono;
  }
}
