@import 'theme';
@import 'shared';

.App {
  width: 100%;
  font-family: $font;
  padding: 2.5vw 20vw;
  // overflow: hidden auto;
  color: $color;
  line-height: 1.5;

  @media (orientation: portrait) {
    padding: 2.5vw;
  }

  @media print {
    padding: 5vw;
  }

  > div {
    margin: 1.5vw 0;
  }

  &__Intro {
    display: grid;
    margin-top: $spacing;
    // gap: 1vw;
    break-inside: avoid;

    > * {
      min-width: 0;
      min-height: 0;
      white-space: normal;
    }
  }

  &__UtilButtons {
    @include flex(row);
    font-family: $fontMono;

    grid-column: 1;
    grid-row: 1;
  }

  &__UtilButton {
    @include Selectable;
  }

  &__IntroTitle {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
    line-height: 1;
  }

  &__IntroText {
    grid-column: 1;
    grid-row: 3;
  }

  &__Contacts {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    break-inside: avoid;
  }

  &__Photo {
    grid-column: 2;
    grid-row: 2/4;

    width: 10vw;
    height: 10vw;
    transform: scaleX(-1);

    border-radius: 50%;
    border: 1px solid gray;
    background-color: lightseagreen;

    @media (orientation: portrait) {
      width: 20vw;
      height: 20vw;
    }

    @media print {
      background-color: white;
    }
  }

  &__TechsOptions {
    @include flex(row);
    font-family: $fontMono;
    font-size: .8em;

    > * {
      display: inline-block;
    }
  }

  &__TechsOptionsItem {
    @include Selectable;
  }

  &__Techs {
    display: grid;
    gap: 1vw;
    break-inside: avoid;

    &_NoGrouping {
      gap: 0;
    }
  }

  &__TechsGroupTitle {
    grid-column: 1 / 2;
    font-family: $fontMono;
    font-size: .8em;
  }

  &__TechsGroupItems {
    grid-column: 2 / 2;
  }

  &__TechName {
    font-family: $fontMono;
    text-transform: uppercase;
  }

  &__TechYear {
    font-family: $font;
    color: gray;
    font-size: .9em;
  }

  &__Project {
    break-inside: avoid;
    
    > div {
      margin: 1.5vw 0;
    }
  }

  &__ProjectTitle {
    font-size: 1.2em;
    font-family: $fontMono;
    font-weight: bold;
  }

  &__ProjectSummary {
    font-size: .8em;

    > *:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__ProjectTechs {
    font-family: $fontMono;    
    text-transform: uppercase;
  }

  &__ProjectImage {
    border: 1px solid lightgray;
    height: 5vw;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1vw;
    }

    transition: filter .5s;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }

    @media (orientation: portrait) {
      height: 8vw;
    }
  }

  &__Separator {
    $sideMargin: 0vw;
    width: calc(100% - #{$sideMargin * 2});
    height: 2px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' y='0' x2='100%25' y2='0' stroke='lightgray' stroke-width='2' stroke-dasharray='20%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    margin: 1vw $sideMargin 3vw $sideMargin;
  }

  &__Footer {
    font-family: $fontMono;
    color: $color2;
    text-align: center;
  }

  $ContactCopyButtonClass: "#{&}__ContactCopyButton";

  &__Contact {
    margin-right: 1vw;
    white-space: nowrap;

    &:hover #{$ContactCopyButtonClass} {
      opacity: 1;
    }

    > a {
      color: $color !important;
      font-weight: 600;
      text-decoration-color: gray;
    }

    > * {
      vertical-align: middle;
    }
  }

  #{$ContactCopyButtonClass} {
    display: inline;
    opacity: 0;
    cursor: pointer;
    width: 14px;
    transition: opacity .5s;
  }

  &__Dates {
    font-family: $fontMono;
  }
}
