$separator_color: #555555;

.App {
  margin: 3vh 10vw;

  &__ {
    &Introduction {
      white-space: pre-line;
    }

    &ProjectPreviewImage {
      height: 100%;
      width: auto;

      transition: filter .5s;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
