@import 'shared';
@import 'theme';

.FullscreenGallery {
    @include absolute-lt;
    @include size(100%);
    @include flex(column);
    z-index: 1;
    overflow: hidden;
    background-color: white;

    &__Thumbs {
        flex: 0 0 auto;
        padding: .5vw;
        text-align: center;
    }

    &__Thumb {
        display: inline-block;
        height: 5vw;
        border: 1px solid lightgray;
        height: 5vw;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 1vw;
        }

        @media (orientation: portrait) {
            height: 10vw;
        }

        &_Current {
            border: 2px solid black;
        }
    }

    &__CloseButton {
        @include absolute-rt(1vw);
        @include Selectable;

        font-size: $spacing * 2;
        z-index: 999;
        font-family: $fontMono;
    }

    &__PanZoom {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
    }

    &__PanZoomWrapper {
        @include absolute-lt;
        @include size(100% !important);
    }

    &__Description {
        width: 100%;
        text-align: center;
        font-family: $font;
        font-size: 1.2em;
    }
}
