html, body, #root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@media print
{
  .noprint, .noprint *
  {
    display: none !important;
  }
}

a {
  white-space: nowrap;
}
