html, body, #root {
  padding: 0;
  margin: 0;
  position: relative;

  @media screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

@media print
{
  .noprint, .noprint *
  {
    display: none !important;
  }
}

@media screen
{
  .noscreen, .noscreen *
  {
    display: none !important;
  }
}

a {
  white-space: nowrap;
}
