@import 'colors';

$LabelRow_labelWidth: 10vw;

.LabeledRow {
  position: relative;
  display: flex;
  flex-direction: row;

  margin: $spacing / 2 0;
  overflow: hidden;

  &__ {
    &Label {
      flex: 0 0 auto;

      width: $LabelRow_labelWidth;
      font-size: 18px;
      font-weight: $semibold;
      color: $color2;
      border-right: 1px solid $color1;
    }

    &Content {
      flex: 1 1 auto;

      position: relative;
      padding: $spacing;
      overflow: hidden;
    }
  }
}
